.login-container {
  height: 100vh;
}
.texto-imagen{
  position: absolute;
  top:97%;
  left:20%;
  transform:translate(-50%,-50%);
  text-align:center;
  color: #e2ecec;
  font-size: 50px;
  font-weight: bold;
  font-family: "Baskerville Old Face";
  text-shadow:2px 2px 5px rgba(0,0,0,0.5);
}
.left-side {
  width: 50%;
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.right-side {
  width: 50%;
  background: white;
}

.form-box {
  width: 70%;
}

.logo {
  max-width: 180px;
}

.iconos i{
 font-size:33px;
 color: #1e1e1e;

}
.btn-verde {
  color: black;
  font-size: 25px;
  border:2px solid black;
  font-family: '', sans-serif;
  font-style: initial;
}
.btn-verde:hover {
  background-color: rgba(75, 239, 51, 0.43);
}
.activoboton{
  background-color:rgba(75, 239, 51, 0.43) ;
  color:black;
  border-color: black ;
}