<footer class="">
    <div class="d-flex flex-row gap-5 p-4 fondo-az justify-content-center">
        <div class="d-flex flex-row gap-4 pt-2 pb-0 ">
            <div class="d-flex flex-row  gap-2 text-black ">
                <i class=" comentario bi bi-chat-left"></i>
                <p>Nuestros Tips Para El Cuidado De Tu Piel</p>

            </div>
            <div class="text-black">
                <p>Be the first to know about offers, new products and discounted products</p>
            </div>

        </div>

        <div class="d-flex flex-row gap-2 pe-2">

            <div class="search ps-2 pt-2">
                <input type="email" class="inp-search" placeholder="Enter your email address">
            </div>

            <div class="">
                <button class="bg-white btn-n text-black rounded-5 p-2 ps-4 pe-4 pt-2 pb-2">Subcribe</button>


            </div>

        </div>


    </div>


    <div class="d-flex flex-row  gap-5 p-4 pt-5 fondo-g justify-content-center">
        <div>
        <div class="justify-content-center">
            <img src="/images/logo.png" alt="" class="img-fluid">
            <hr class="opacity-0">
            <p class=" pago opacity-75 text-black">Pago con:</p>
            <div class="d-flex flex-row gap-3">
                <img src="/images/visa.svg" alt="">
                <img src="/images/paypal.svg" alt="">
                <img src="/images/master.svg" alt="">
            </div>
        </div>

        <div class="d-flex flex-row gap-5 container-fluid">

            <div class="pe-5">
                <p class="fw-bold opacity-75 ">Promociones</p>
                <p class="c-opaco opacity-75">Ofertas flash</p>
                <p class="c-opaco opacity-75">Promociones activas</p>
                <p class="c-opaco opacity-75">Novedades estrella</p>
                <p class="c-opaco opacity-75">Nuevos productos</p>
                <p class="c-opaco opacity-75">Top ventas</p>

            </div>
            <div class="pe-5">
                <p class="fw-bold opacity-75">Ayuda</p>
                <p class="c-opaco opacity-75">Preguntas frecuentes</p>
                <p class="c-opaco opacity-75">Atención al cliente</p>
                <p class="c-opaco opacity-75">Política de Privacidad</p>
                <p class="c-opaco opacity-75">Condiciones generales de la web</p>
                <p class="c-opaco opacity-75">Política de cookies</p>
                <p class="c-opaco opacity-75">Configura tus cookies aquí</p>
                <p class="c-opaco opacity-75">Declaración de Accesibilidad</p>


            </div>
            <div class="pe-5">
                <p class="fw-bold opacity-75">Enlaces de interés</p>
                <p class="c-opaco opacity-75">Black Friday 2026</p>
                <p class="c-opaco opacity-75">Singles' Day 2026r</p>
                <p class="c-opaco opacity-75">Maquillaje para Carnaval 2026</p>
                <p class="c-opaco opacity-75">Descuentos Estudiantes</p>
                <p class="c-opaco opacity-75">Product Support</p>


            </div>

            <div class="ps-3">
                <p class="fw-bold opacity-75 d-flex flex-row">Contacto</p>
                <div class=" iconos d-flex flex-row gap-3 justify justify-content-center  gap-4">
                    <div>

                        <a href="https://www.facebook.com/"><i class=" v bi bi-facebook"></i></a>
                    </div>
                    <div>
                        <a href="https://x.com/"><i class=" v bi bi-twitter-x"></i></a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/"><i class=" v bi bi-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://es.linkedin.com/"><i class=" v bi bi-linkedin"></i></a>

                    </div>
                    <div>
                        <a href="https://web.whatsapp.com/"> <i class="v bi bi-whatsapp"></i></a>
                    </div>

                </div>
                <p class="c-opaco opacity-75">calle la tragedia 28, Madrid
                <p class="ti c-opaco opacity-75">+34 6459871238</p>
                <p class="ti c-opaco opacity-75">Bellality@gmail.com</p>
            </div>
        </div>
    </div>

    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center">
        <p>Bellality.© 2025. Bellality Co. All rights reserved</p>
    </div>


</footer>