.c-opaco:hover{
  color: rgb(168, 150, 150);
}
.pago{
  font-size:20px;
}

.fondo-g{
  background: white;

}
.ti{
  color: rgba(187, 102, 150, 0.62);
}
.comentario{
  font-size: 20px;
}
.fondo-az{
  background: rgba(176, 255, 167, 0.19);
}

.search {
  border: 1px solid rgba(255, 255, 255, 0.02);
  background-color: rgb(219, 230, 218);
  border-radius: 50px;
  height: 41px;

}
.v{
  color:black;
}

.inp-search{
  border: none;
  background: none;
  height: 20px;
  width: 400px;

}
.btn-n{
  border:none;

}
.iconos{
  font-size: 33px;
}.iconos{
   font-size: 33px;
 }
.titulo{
  font-weight: bold;
}
.titulo:hover{
  color: rgb(176, 255, 167);
}
