
.iconos-compra{
  color: #1e1e1e;
  font-size: 25px;
  margin-right: 20px;

}

.letras{
  color: #1e1e1e;
  font-size: 20px;
  margin-top: 20px;
  border: none;
}
.letras:hover{
color: green;
}
.contenedor{
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height:  500px;
}
.im-cabecera{
  width: 100%;
  height: 100%;
  display: flex;
}
.im-cabecera .imagen{
  width: 25%;
  height: 100%;
  object-fit: cover;
}

.btn-cabecera {
  margin-top: 2px;
  margin-bottom: 10px;
  padding: 12px 35px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #66BB6A;
  opacity: 0.8;
  border-radius: 60px;
}
.texto-cabecera{
  position: absolute;
  top:25%;
  left:45%;
  transform:translate(-50%,-50%);
  text-align:center;
  color: #e2ecec;
  width: 90%;

}
.btn-cabecera:hover{
  background-color:wheat;
}
.texto{
  margin-top: 20px;
 font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.texto2{
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);;

}
.texto3 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.categorias-container{
  margin-left: 20px;
  font-size: 50px;

}

.category-card{
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.letr{
  font-size: 20px;
  font-family:"Baskerville Old Face";
}
.i{
  font-size: 30px;
  color: #66BB6A;
}

.category-card:hover   .categorias-img{
  opacity: 0.7;
  color: rgb(168, 150, 150);
}
.o{
  opacity: 10%;
}
.imagen{
  width: 100%;
  height: auto;
  object-fit:cover;
}

.categorias-img{
  width: 100%;
  height:auto;
  object-fit: contain;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}
.category-card {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.category-card:hover {
  transform: scale(1.03);
}
.all{
  margin-left: 30px;
}


.comprar-ya {
  background-color: #e63946;
  color: #fff;
  border: none;
  padding: 10px 18px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background .2s ease;
}

.comprar-ya:hover {
  background: #d62828;
}


.texto4 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  color: rgba(255, 0, 0, 0.64);
}

.categorias-imge{
  width: 80%;
  height:auto;
  object-fit: contain;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}




