<header class="container-fluid p-0">
    <div class="d-flex flex-row justify-content-between container-fluid"> <!--primera fila-->
        <div class="d-flex flex-row gap-3">

            <div class="d-flex flex-row gap-1">
                <img src="/images/logo.png" alt="" class="img-fluid">
            </div>

        </div>

        <div class="barra-g d-flex flex-row justify-content-between align-items-center pt-3 ps-3 text-secondary ">

            <div class="  d-flex flex-row gap-4">

                <div class="d-flex flex-row gap-1 ">
                    <p class=" letras">Home</p>

                </div>

                <div class=" letras d-flex flex-row gap-1 c-naranja">
                    <p>Shop</p>

                </div>

                <div class="letras d-flex flex-row gap-1 c-naranja">
                    <p>Product</p>

                </div>

                <div class="letras d-flex flex-row gap-1 c-naranja" >
                    <p>Blog</p>

                </div>

                <div class="letras d-flex flex-row gap-1 c-naranja">
                    <p>Page</p>

                </div>

            </div>

        </div>

        <div class=" iconos-compra d-flex flex-row gap-3 text-secondary mt-5">

            <div class="d-flex flex-row gap-1">
                <i class="iconos-compra bi bi-search"></i>

            </div>

            <div class="d-flex flex-row gap-1">
                <i class=" iconos-compra bi bi-person-fill"></i>

            </div>

            <div class="d-flex flex-row gap-1">
                <i class=" iconos-compra bi bi-cart"></i>
                <div class="c-naranja d-flex flex-row">

                </div>

            </div>
        </div>
    </div>

    <hr class="opacity-2">

    <div class=" contenedor container-fluid">

            <img src="/images/cabecera.jpg" alt="" class=" imagen mb-5 ">

            <div class="btn-img">
                <button class="btn">Read Now</button>
            </div>
        <p class="texto">Morning Clarity</p>
        <p class="texto2">Star your day With intention. Simple,effective skincare for a </p>
        <p class="texto3">balanced mind and body</p>
    </div>
    <div>
        
    </div>

</header>