
.iconos-compra{
  color: #1e1e1e;
  font-size: 25px;
  margin-right: 20px;

}
.iconos-compra:hover{
  color:  #4DB6AC;
}

.letras{
  color: #1e1e1e;
  font-size: 20px;
  margin-top: 20px;
  border: none;
}
.letras:hover{
color: green;
}
.contenedor{
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height:  500px;
}
.mi:hover{
  cursor: pointer;
  color: #4DB6AC;
}


