.card {
  border-radius: 12px;
}
.carrito{
  color: #66BB6A;
}
.des{
  font-size: 13px;
}
.text{
  color: #66BB6A;
}

.btn-compra{
  background-color:black;
  color: white;
  border: none;
}

.btn:hover {
  background-color: #b0ffa7;
}

h5 {
  color:black;
}

.btn-remove{
  border: none;
}
.btn-remove:hover{
  background-color: rgba(213, 103, 103, 0.22);
}