.register-container {
  height: 100vh;
  display: flex;
}
.texto-imagen{
  position: absolute;
  top:10%;
  right:10%;
  transform:translate(-50%,-50%);
  text-align:center;
  color: white;
  text-shadow:2px 2px 5px rgba(0,0,0,0.5);
  font-size: 50px;
  font-weight: bold;
  font-family: "Baskerville Old Face";
}
.left-side {
  width: 50%;
  background-color: white;
}
.img-fluid {
  width: 100%;
  height: 100%;

}
.right-side {
  width: 50%;
  background: white;
}
.form-box {
  width: 70%;
}
.logo {
  max-width: 180px;
}
.btn-verde {
  color: black;
  font-size: 25px;
  border:2px solid black;
  font-family: '', sans-serif;
  font-style: initial;
}
.btn-verde:hover {
  background-color: rgba(75, 239, 51, 0.43);
}
.corazon{
  color: #b0ffa7;
  text-shadow:2px 2px 5px rgba(0,0,0,0.5);

}
.activoboton{
  background-color:rgba(75, 239, 51, 0.43) ;
  color:black;
  border-color: black ;
}